<div class="social{% if include.dark != true %} social--background{% endif %}">
  <ul class="social__list">
    <li class="social__list-item">
      <a href="{{ site.facebook }}" class="social__list-link{% if include.dark == true %} social__list-link--dark{% endif %}" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
    </li>
    <li class="social__list-item">
      <a href="{{ site.linkedin }}" class="social__list-link{% if include.dark == true %} social__list-link--dark{% endif %}" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
    </li>
    <li class="social__list-item">
      <a href="{{ site.github }}" class="social__list-link{% if include.dark == true %} social__list-link--dark{% endif %}" target="_blank"><i class="fa fa-2x fa-github"></i></a>
    </li>
  </ul>
</div>