<div id="header">
  <div class="links noprint">
    {{ partial "menu.html" . }}
  </div>
  <div id="head" class="vcard">
    <div id="header-left">
      <span id="site-name" class="fn n">
        <span class="given-name">Joachim</span>
        <span class="family-name">Wallsin</span>
      </span>
      <span class="description">
        <span class="role">Student</span> på
        <span class="org">KY-Akademien</span>
      </span>
    </div>
    <div id="header-right">
      <span><a id="email" href="mailto:joachim@wallsin.com">joachim@wallsin.com</a></span>
      <span class="description">
        <a class="photo" href="http://wallsin.com/img/ommig.jpg">Foto på mig</a>
        <a class="url" href="http://wallsin.com">http://wallsin.com</a>
      </span>
      <p class="bday" title="1986-04-21">21 April 1986</p>
      <div class="adr">
        <p><span class="street-address">Pinnharvsgatan 2A</span><br/>
        <abbr title="43147" class="postal-code">431 47</abbr> <span class="locality">Mölndal</span></p>
      </div>
      <p><span class="tel"><span class="type description">cell</span><abbr title="+46739196618" class="value">0766&#45;33 95 91</abbr></span><br />
      <span class="tel"><span class="type description">home</span><abbr title="+46317155859" class="value">031&#45;715 58 59</abbr></span></p>
    </div>
  </div>
</div>
